In [2]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('data/data.csv')
data_parental = pd.read_csv('data/data_shared_parental.csv')

In [4]:
data.head()

,Unnamed: 0,id,gender,age,seniority,seniority_pos,parental_leave,position,tick
0,0,2.0,male,38.398549,3.088413,6.066308,NaN,C-Suite,0.0
1,1,3.0,female,40.642623,5.739522,3.237006,NaN,C-Suite,0.0
2,2,4.0,male,49.699532,8.542710,3.806114,NaN,C-Suite,0.0
3,3,5.0,male,58.831210,10.469494,2.686475,NaN,C-Suite,0.0
4,4,6.0,female,47.499271,4.959847,2.867903,NaN,C-Suite,0.0

### Checking that the promotion process seems to work

In [5]:
for i in np.unique(data['id']):
    dat = data[data['id'] == i]
    print(np.unique(dat['position']))

['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['C-Suite']
['SVP']
['SVP']
['C-Suite']
['SVP']
['SVP']
['SVP']
['C-Suite' 'SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['C-Suite' 'SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['C-Suite' 'SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['SVP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['SVP' 'VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['SVP' 'VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['SVP' 'VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['SVP']
['VP']
['SVP' 'VP']
['VP']
['VP']
['VP']
['VP']
['VP']
['SVP' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager' 'VP']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager' 'VP']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['VP']
['Senior Manager' 'VP']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['Senior Manager']
['VP']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Senior Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Manager']
['Manager']
['Manager']
['Manager' 'Senior Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level' 'Manager']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']
['Entry Level']

In [9]:
data_parental[data_parental['parental_leave']==1]

,Unnamed: 0,id,gender,age,seniority,seniority_pos,parental_leave,position,tick
1183,1183,75.0,male,49.856255,4.160929,3.703970,1.0,VP,3.0
3260,3260,302.0,male,40.172443,3.114907,2.635922,1.0,Entry Level,8.0
3480,3480,152.0,male,34.927920,6.035177,3.268848,1.0,Senior Manager,9.0
4308,4308,240.0,male,40.199984,4.234399,3.996393,1.0,Manager,11.0
4318,4318,250.0,male,42.507692,5.344535,3.257870,1.0,Manager,11.0
4790,4790,352.0,male,30.216215,4.253885,3.545447,1.0,Entry Level,12.0
5513,5513,335.0,male,44.474443,5.209784,5.451862,1.0,Entry Level,14.0
6323,6323,35.0,male,47.260908,6.146221,4.671743,1.0,SVP,17.0
6943,6943,285.0,female,39.372762,6.816895,3.297781,1.0,Entry Level,18.0
7587,7587,189.0,male,33.050578,7.153413,2.735500,1.0,Manager,20.0
12117,12117,279.0,male,27.893600,6.061590,4.924161,1.0,Entry Level,32.0
12536,12536,328.0,male,38.401041,5.290064,4.930289,1.0,Entry Level,33.0
13743,13743,55.0,male,48.853070,4.578827,4.641163,1.0,VP,37.0
14487,14487,59.0,male,43.424616,11.948588,6.773189,1.0,VP,39.0
14762,14762,334.0,female,40.494525,7.968698,5.170644,1.0,Entry Level,39.0
15490,15490,322.0,male,24.803758,6.499683,5.178387,1.0,Entry Level,41.0
15747,15747,209.0,male,36.214505,6.782327,6.979728,1.0,Manager,42.0
17238,17238,220.0,male,36.501555,8.161593,7.221576,1.0,Manager,46.0
19931,19931,323.0,male,34.287725,5.770442,7.281934,1.0,Entry Level,53.0
20638,20638,6580.0,female,32.142589,6.386345,3.250000,1.0,Entry Level,55.0